{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Page Content -->
<section class="py-4">
   <div class="container">
     <h1 class="fw-light">Post & Discuss all your favorite movies, TV shows, books and more!</h1>
     <p class="lead">Blah Blah Blog is the place to make your case or argue your point!</p>
   </div>
 </section>
<div class="container">
   <div class="row">
      {% for post in post_list %}
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-0 shadow">
             <a href="{% url 'post_detail' post.slug %}">
             {% if "placeholder" in post.featured_image.url %}
             <img src="https://images.pexels.com/photos/5662857/pexels-photo-5662857.png?cs=srgb&dl=pexels-tima-miroshnichenko-5662857.jpg&fm=jpg" class="card-img-top" alt="placeholder">
             {% else %}
             <img class="card-img-top" src=" {{ post.featured_image.url }}">
             {% endif %}
             </a>
             <div class="card-body text-center">
             <h5 class="card-title mb-0">{{ post.title }}</h5>
             <h6 class="card-text text-black-50">{{ post.name_of_show_or_film }} | {{ post.get_media_type_display }} | <a href="{% url 'category' post.genre %}">{{ post.get_genre_display }}</a></h6>
             <h6 class="card-text text-black-50">Author: {{ post.author }}</h6>
             <hr />
             <p class="card-text text-muted h6">Posted:{{ post.created_on|date:"d/m/y at H:i"}}</p>
             <i class="far fa-smile"></i>
             {{ post.number_of_likes }} 
             <i class="far fa-frown"></i>
             {{ post.number_of_dislikes }}
             </a>
             </div>
         </div>
     </div>
      {% if forloop.counter|divisibleby:4 %}
   </div>
   <div class="row">
      {% endif %}
      {% endfor %}
   </div>
   {% if is_paginated %}
   <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">&laquo; PREV </a></li>
         {% endif %}
         {% if page_obj.has_next %}
         <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"> NEXT &raquo;</a></li>
         {% endif %}
      </ul>
   </nav>
   {% endif %}
</div>
{%endblock%}